.sectionHome {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  position: absolute;
  top: 0;
  left: 40%;
}

.sectionMySkills {
  min-height: 100vh;
  width: 100vw;
  padding: 2em 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: whitesmoke;
  border-top: 1px solid #5ddcff;
}

.steps {
  /* margin: 1em 0; */
  padding-left: 1em;
  font-size: 1.3em;
}

.steps div {
  margin: 0.3em 0;
}

.steps div:nth-child(1) {
  margin-top: 3em;
}

.logos {
  display: flex;
  justify-content: space-around;
  width: 80vw;
}

.sectionContacts {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #5ddcff;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 20);
  min-height: 15.9em;
  color: #eaeaea;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
