.scrolls {
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  position: absolute;
  bottom: 0;
  left: -35em;
  right: 0;
}
.scrollLeft {
  transform: rotate(90deg);
  width: 100px;
  height: 100px;
  /* position: absolute;
  bottom: 0;
  left: 54vw; */
  /* right: 45vw; */
  animation-name: animatedScroll;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  /* animation-delay: 2s; */
}

.scrollRight {
  transform: rotate(90deg);
  width: 100px;
  height: 100px;
  left: 0;
  /* position: absolute;
  bottom: 0;
 
  /* right: 48vw; */
  animation-name: animatedScroll;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  /* animation-delay: 2s; */
}
@keyframes animatedScroll {
  0% {
    color: var(--secondary-color);
    /* left: 0px; */
    bottom: 10px;
  }
  100% {
    color: var(--main-color);
    /* left: 200px; */
    bottom: 0px;
  }
  50% {
    color: var(--secondary-color);
    /* left: 200px; */
    bottom: 10px;
  }
  75% {
    color: var(--main-color);
    /* left: 0px; */
    bottom: 0px;
  }
  100% {
    color: var(--secondary-color);
    /* left: 0px; */
    bottom: 10px;
  }
}
